conf_version=""
manifest {
    description = 'SUI'
    mainScript = 'SUI.nf'
}

params {
    // Directories
    indir = "/home/taoufik/data/results"
    outdir = "/home/taoufik/data/results/Identification"
    // Parameters
}

executor{
    jobName = { "$task.tag" }
    queueSize = 10
}
env {
     my_scripts = "${PWD}:$PATH"
}
profiles {
    slurm {
        process{
            cpus = 30
            executor = 'slurm'
            memory = 5.GB
            time = 5.h
            queue = 'batch'
            // clusterOptions = "--mem-per-cpu=1024 --cpus-per-task=2 --threads-per-core=4"  
        }
    }
}

workflow.onComplete = {
    println "========================================="
    println "Pipeline completed at: $workflow.complete"
    println "Execution status: ${ workflow.success ? 'OK' : 'failed' }"
}
