conf_version=""
manifest {
    description = 'SUI'
    mainScript = 'SUI.nf'
}

params {
    // Directories
    mgfdir      = "/home/taoufik/data/MGFS/peaks"
    protdbdir   = "/home/taoufik/data/DB"
    resultsdir = "/home/taoufik/data/results"
    // Parameters
    protdbs  = "DB_UniProtKB_Swiss-Prot_Reviewed_Isoforms.fasta,DB_UniProtKB_Swiss-Prot_Reviewed_No_Isoforms.fasta,DB_UniProtKB_TrEMBL_Unreviewed.fasta" 
}

executor{
    jobName = { "$task.tag" }
    queueSize = 4
}
env {
     my_scripts = "${PWD}:$PATH"
}
profiles {
    slurm {
        process{
            cpus = 30
            executor = 'slurm'
            memory = 20.GB
            time = 48.h
            queue = 'batch'
            // clusterOptions = "--mem-per-cpu=1024 --cpus-per-task=2 --threads-per-core=4"  
        }
    }
}

workflow.onComplete = {
    println "========================================="
    println "Pipeline completed at: $workflow.complete"
    println "Execution status: ${ workflow.success ? 'OK' : 'failed' }"
}
